# Pandas Data Frames

### Attributes and underlying data

### Loading Data set:

In [10]:
import pandas as pd
df=pd.read_csv(r'C:\Users\VINEETH REDDY K\Downloads\Data sets\tv_shows.csv')

### Display first 5 rows of table

In [12]:
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

### To display index

In [14]:
df.index

RangeIndex(start=0, stop=5611, step=1)

### To display columns

In [18]:
 df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type'],
      dtype='object')

### To find datatype of each column

In [17]:
df.dtypes

Unnamed: 0           int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
type                 int64
dtype: object

### To select particular data types

To select data types we have to pass atleast one attribute for this like inculde or exclude datatype or else both also preferrable.

DataFrame.select_dtypes(self, include=None, exclude=None) → 'DataFrame'

In [22]:
df.select_dtypes(include='float64')

      IMDb
0      9.5
1      8.8
2      8.4
3      9.1
4      8.7
...    ...
5606   NaN
5607   NaN
5608   NaN
5609   NaN
5610   NaN

[5611 rows x 1 columns]

In [21]:
df.select_dtypes(exclude='float64')

,Unnamed: 0,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,0,0,0,1,1
5607,5607,Paradise Islands,2017,NaN,NaN,0,0,0,1,1
5608,5608,Wild Russia,2018,NaN,NaN,0,0,0,1,1
5609,5609,Love & Vets,2017,NaN,NaN,0,0,0,1,1
5610,5610,United States of Animals,2016,NaN,NaN,0,0,0,1,1

### If you want to get all values in table we will get as array

In [24]:
df.values

array([[0, 'Breaking Bad', 2008, ..., 0, 0, 1],
       [1, 'Stranger Things', 2016, ..., 0, 0, 1],
       [2, 'Money Heist', 2017, ..., 0, 0, 1],
       ...,
       [5608, 'Wild Russia', 2018, ..., 0, 1, 1],
       [5609, 'Love & Vets', 2017, ..., 0, 1, 1],
       [5610, 'United States of Animals', 2016, ..., 0, 1, 1]],
      dtype=object)

### To find the axes

In [25]:
df.axes

[RangeIndex(start=0, stop=5611, step=1),
 Index(['Unnamed: 0', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
        'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type'],
       dtype='object')]

### To find the dimension

DataFrame.ndim
Return an int representing the number of axes / array dimensions.

Return 1 if Series. Otherwise return 2 if DataFrame.

In [27]:
df.ndim

2

### To find the size of Data frame

Return the number of rows if Series. Otherwise return the number of rows times number of columns if DataFrame.

In [29]:
df.size

61721

### To find the shape of Dataframe

In [30]:
df.shape

(5611, 11)

### To find memory usage

In [31]:
df.memory_usage()

Index                128
Unnamed: 0         44888
Title              44888
Year               44888
Age                44888
IMDb               44888
Rotten Tomatoes    44888
Netflix            44888
Hulu               44888
Prime Video        44888
Disney+            44888
type               44888
dtype: int64

In [32]:
df.memory_usage(index=False)

Unnamed: 0         44888
Title              44888
Year               44888
Age                44888
IMDb               44888
Rotten Tomatoes    44888
Netflix            44888
Hulu               44888
Prime Video        44888
Disney+            44888
type               44888
dtype: int64

deepbool, default False
If True, introspect the data deeply by interrogating object dtypes for system-level memory consumption, and include it in the returned values.

In [33]:
df.memory_usage(deep=True)

Index                 128
Unnamed: 0          44888
Title              417396
Year                44888
Age                267324
IMDb                44888
Rotten Tomatoes    207965
Netflix             44888
Hulu                44888
Prime Video         44888
Disney+             44888
type                44888
dtype: int64

### To find data frame is empty or not

In [34]:
df.empty

False

In [35]:
df.dropna

<bound method DataFrame.dropna of       Unnamed: 0                            Title  Year  Age  IMDb  \
0              0                     Breaking Bad  2008  18+   9.5
1              1                  Stranger Things  2016  16+   8.8
2              2                      Money Heist  2017  18+   8.4
3              3                         Sherlock  2010  16+   9.1
4              4                 Better Call Saul  2015  18+   8.7
...          ...                              ...   ...  ...   ...
5606        5606  Tut's Treasures: Hidden Secrets  2018  NaN   NaN
5607        5607                 Paradise Islands  2017  NaN   NaN
5608        5608                      Wild Russia  2018  NaN   NaN
5609        5609                      Love & Vets  2017  NaN   NaN
5610        5610         United States of Animals  2016  NaN   NaN

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  type
0                96%        1     0            0        0     1
1                93%        1     0            0        0     1
2                91%        1     0            0        0     1
3                78%        1     0            0        0     1
4                97%        1     0            0        0     1
...              ...      ...   ...          ...      ...   ...
5606             NaN        0     0            0        1     1
5607             NaN        0     0            0        1     1
5608             NaN        0     0            0        1     1
5609             NaN        0     0            0        1     1
5610             NaN        0     0            0        1     1

[5611 rows x 11 columns]>

In [36]:
df.empty

False